<li>
	{{burger_name}}

<button class="move btn btn-danger btn-sm m-2" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devour}}Devour{{else}}Order another?{{/if}}
	</button>

  <button class="delete-burger btn btn-danger btn-sm" data-id="{{this.id}}">DELETE!</button>
</li>
